# Environment variables
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
.conda/

# OS / Editor
.DS_Store
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Caches / DB
.cache/
chroma/

